<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API SERVER</title>
</head>
<body>
    <% Array.forEach(data=>{%>
        <p><%=data.id%></p>
    <p><%=data.name%></p>
    <p><%=data.currentClass%></p>
    <p><%=data.division%></p>
    <%})%>
    

</body>
</html>